@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="p-5">

    <header>
        <nav>
            <a href="/Student/Index" class="btn btn-secondary">All Student</a>
            <a href="/Student/Create" class="btn btn-success">Create </a>
            <a href="/Student/Update" class="btn btn-warning"> Update</a>
            <a href="/Student/Delete" class="btn btn-danger"> Delete </a>
        </nav>
    </header>

    <main>
        <section class="p-5">
            Delete Student
        </section>
    </main>

    <footer class="pt-5">
        <p>This is Footer</p>
    </footer>

</body>
</html>
